Repository peerbridge/peerbridge, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, blockchain, color, encryption, http, time, deployment

Add Pull Request Label Workflow
  .github/workflows/label.yml
Labels: none

Add Stale Workflow
  .github/workflows/stale.yml
Labels: none

Remove unused encryption code and fix PEM Conversion
  main.go
  pkg/encryption/encryption.go
  pkg/encryption/encryption_test.go
  pkg/encryption/routes.go
Labels: repo, encryption

Refactor Blockchain Implementation
  pkg/blockchain/block.go
  pkg/blockchain/blockchain.go
  pkg/blockchain/routes.go
  pkg/blockchain/transaction.go
Labels: blockchain

Fix CI Branch
  .github/workflows/go.yml
  .github/workflows/heroku.yml
Labels: none

feat: fetch transactions by timestamp
  README.md
  pkg/blockchain/routes.go
Labels: repo, blockchain

Add documentation to packages
  pkg/blockchain/block.go
  pkg/blockchain/blockchain.go
  pkg/blockchain/routes.go
  pkg/blockchain/transaction.go
  pkg/database/database.go
  pkg/encryption/encryption.go
  pkg/http/error.go
  pkg/http/header.go
  pkg/http/logger.go
  pkg/http/response.go
  pkg/time/time.go
Labels: blockchain, encryption, http, time

Test out basic p2p blockchain conversation
  go.mod
  go.sum
  p2p/p2p.go
Labels: repo

Remove redundant blockchain example code from p2p experiment
  p2p/p2p.go
  pkg/p2p/p2p.go
Labels: none

Setup basic dht communication between peers via publishing
  pkg/p2p/p2p.go
  pkg/peers/peers.go
Labels: none

Simplify connection process
  pkg/peers/peers.go
Labels: none

Clean up messy p2p code and add Run+Broadcast interfaces
  pkg/peer/peer.go
  pkg/peers/peers.go
Labels: none

Add simple peer url route and include p2p into main.go
  main.go
  pkg/peer/peer.go
  pkg/peer/routes.go
Labels: repo

Document new urls http method
  README.md
Labels: repo

Add basic transaction sharing between p2p peers
  pkg/blockchain/routes.go
  pkg/peer/peer.go
Labels: blockchain

Merge peer with blockchain package for better structure
  main.go
  pkg/blockchain/peer.go
  pkg/blockchain/routes.go
  pkg/peer/routes.go
Labels: repo, blockchain

Adapt readme to changed url schemes
  README.md
Labels: repo

Create a P2PService struct to encapsulate peer functionality
  main.go
  pkg/blockchain/peer.go
  pkg/blockchain/routes.go
Labels: repo, blockchain

Implement basic eventbus + transaction and block sharing between nodes
  main.go
  pkg/blockchain/blockchain.go
  pkg/blockchain/eventbus.go
  pkg/blockchain/peer.go
  pkg/blockchain/routes.go
Labels: repo, blockchain

Refactor eventbus into own module
  pkg/blockchain/blockchain.go
  pkg/blockchain/eventbus.go
  pkg/blockchain/peer.go
  pkg/blockchain/routes.go
  pkg/blockchain/topics.go
  pkg/eventbus/eventbus.go
Labels: blockchain

Implement proof of stake, separate peer from blockchain code
  main.go
  pkg/blockchain/block.go
  pkg/blockchain/blockchain.go
  pkg/blockchain/routes.go
  pkg/blockchain/topics.go
  pkg/blockchain/transaction.go
  pkg/encryption/encryption.go
  pkg/peer/peer.go
Labels: repo, blockchain, encryption

Add basic block proof validation and use ids instead of indexes
  pkg/blockchain/blockchain.go
Labels: blockchain

Use peer http interface to pass p2p multiaddresses
  README.md
  main.go
  pkg/peer/peer.go
  pkg/peer/routes.go
Labels: repo

Disable block validation for now, improve console output
  pkg/blockchain/blockchain.go
  pkg/peer/peer.go
Labels: blockchain

Implement basic block catch up
  main.go
  pkg/blockchain/blockchain.go
  pkg/blockchain/routes.go
  pkg/http/error.go
Labels: repo, blockchain, http

Add basic keys for alice and bob to test block catching and proof of stake
  .gitignore
  alice.priv.key
  bob.priv.key
  main.go
  pkg/blockchain/blockchain.go
  pkg/encryption/encryption.go
Labels: repo, blockchain, encryption

Adjust start balances of alice and bob, add balance to log and improve proof calculation
  pkg/blockchain/blockchain.go
Labels: blockchain

Add basic block graph and graph syncinc
  main.go
  pkg/blockchain/blockchain.go
  pkg/blockchain/blocknode.go
  pkg/blockchain/peer.go
  pkg/blockchain/routes.go
  pkg/blockchain/topics.go
  pkg/eventbus/eventbus.go
  pkg/peer/routes.go
Labels: repo, blockchain

Fix hashes from crashing on separate nodes
  pkg/blockchain/blockchain.go
Labels: blockchain

Add blocktree chopping
  pkg/blockchain/blockchain.go
  pkg/blockchain/blocknode.go
Labels: blockchain

Add staking back in and fix some bugs
  pkg/blockchain/blockchain.go
  pkg/blockchain/blocknode.go
  pkg/blockchain/peer.go
Labels: blockchain

Fix chain incosistencies and improve code quality
  pkg/blockchain/blockchain.go
  pkg/blockchain/blocknode.go
  pkg/blockchain/peer.go
Labels: blockchain

Fix proof calculation inaccuracy by using unix nanoseconds as timestamp format
  pkg/blockchain/blockchain.go
Labels: blockchain

Improve fault tolerance
  pkg/blockchain/blockchain.go
  pkg/blockchain/blocknode.go
Labels: blockchain

Use secp256k1 ecdsa as public key algorithm, improve overall structure
  .gitignore
  alice.key
  alice.priv.key
  bob.key
  bob.priv.key
  go.mod
  go.sum
  main.go
  pkg/blockchain/block.go
  pkg/blockchain/blockchain.go
  pkg/blockchain/blocknode.go
  pkg/blockchain/genesis.go
  pkg/blockchain/peer.go
  pkg/blockchain/proof.go
  pkg/blockchain/transaction.go
  pkg/encryption/rsa.go
  pkg/encryption/secp256k1.go
  pkg/encryption/sha256.go
Labels: repo, blockchain, encryption

Use secp256k1 public key compression
  alice.key
  bob.key
  pkg/blockchain/genesis.go
  pkg/encryption/secp256k1.go
Labels: repo, blockchain, encryption

Remove outdated parts in readme
  README.md
Labels: repo

Move secp256k1 into own package
  main.go
  pkg/blockchain/block.go
  pkg/blockchain/blockchain.go
  pkg/blockchain/genesis.go
  pkg/blockchain/transaction.go
  pkg/encryption/secp256k1.go
  pkg/encryption/secp256k1/keypair.go
  pkg/encryption/secp256k1/privatekey.go
  pkg/encryption/secp256k1/publickey.go
  pkg/encryption/secp256k1/signature.go
Labels: repo, blockchain, encryption

Integrate reflection based block signing and signature validation
  pkg/blockchain/block.go
  pkg/blockchain/blockchain.go
  pkg/blockchain/genesis.go
  pkg/encryption/secp256k1/keypair.go
  pkg/encryption/secp256k1/publickey.go
  pkg/encryption/secp256k1/signature.go
Labels: blockchain, encryption

Improve console output and add genesis block signature
  genesis.key
  pkg/blockchain/blockchain.go
  pkg/blockchain/genesis.go
  pkg/encryption/secp256k1/signature.go
Labels: repo, blockchain, encryption

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
    - ./*

# Add 'blockchain' label to any change to files within the `blockchain` dir
blockchain:
    - pkg/blockchain/**/*

# Add 'color' label to any change to files within the `color` dir
color:
    - pkg/color/**/*

# Add 'encryption' label to any change to files within the `encryption` dir
encryption:
    - pkg/encryption/**/*

# Add 'http' label to any change to files within the `http` dir
http:
    - pkg/http/**/*

# Add 'time' label to any change to files within the `time` dir
time:
    - pkg/time/**/*

# Add 'deployment' label to any change to files within the `deployments` dir
deployment:
    - deployments/**/*
