Repository peerbridge/peerbridge, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, blockchain, color, encryption, http, time, deployment

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
    - ./*

# Add 'blockchain' label to any change to files within the `blockchain` dir
blockchain:
    - pkg/blockchain/**/*

# Add 'color' label to any change to files within the `color` dir
color:
    - pkg/color/**/*

# Add 'encryption' label to any change to files within the `encryption` dir
encryption:
    - pkg/encryption/**/*

# Add 'http' label to any change to files within the `http` dir
http:
    - pkg/http/**/*

# Add 'time' label to any change to files within the `time` dir
time:
    - pkg/time/**/*

# Add 'deployment' label to any change to files within the `deployments` dir
deployment:
    - deployments/**/*

Add transaction signing and add block creator to blockchain log
  pkg/blockchain/block.go
  pkg/blockchain/blockchain.go
  pkg/blockchain/genesis.go
  pkg/blockchain/transaction.go
  pkg/encryption/secp256k1/publickey.go
Labels: blockchain, encryption

Add missing sign tags (VSCode go extension hung)
  pkg/blockchain/transaction.go
Labels: blockchain

Simplify block adding and refactor pending block integration
  pkg/blockchain/blockchain.go
  pkg/blockchain/blocknode.go
  pkg/blockchain/peer.go
  pkg/color/color.go
Labels: blockchain, color

Improve block adding and fix multiple issues with the tree consistency
  pkg/blockchain/block.go
  pkg/blockchain/blockchain.go
  pkg/blockchain/blocknode.go
  pkg/blockchain/peer.go
  pkg/encryption/secp256k1/privatekey.go
  pkg/encryption/secp256k1/publickey.go
  pkg/encryption/secp256k1/signature.go
  pkg/encryption/sha256.go
Labels: blockchain, encryption

Fix chain head parent being non-nil after chop
  pkg/blockchain/blocknode.go
Labels: blockchain

Implement basic transaction creation and fetch routes
  pkg/blockchain/block.go
  pkg/blockchain/blockchain.go
  pkg/blockchain/blocknode.go
  pkg/blockchain/genesis.go
  pkg/blockchain/peer.go
  pkg/blockchain/routes.go
  pkg/blockchain/transaction.go
  pkg/encryption/secp256k1/privatekey.go
  pkg/encryption/secp256k1/publickey.go
  pkg/encryption/sha256.go
  pkg/http/error.go
  pkg/http/response.go
Labels: blockchain, encryption, http

Improve fault tolerance and cooperation
  pkg/blockchain/block.go
  pkg/blockchain/blockchain.go
  pkg/blockchain/blocknode.go
  pkg/blockchain/genesis.go
  pkg/blockchain/peer.go
  pkg/blockchain/routes.go
  pkg/blockchain/transaction.go
  pkg/encryption/secp256k1/privatekey.go
  pkg/encryption/secp256k1/publickey.go
  pkg/encryption/sha256.go
Labels: blockchain, encryption

Throw away transitive children of dropped blocks
  pkg/blockchain/blockchain.go
Labels: blockchain

Commit current workstate (replace nested types, integrate database, still some fixes needed)
  main.go
  pkg/blockchain/block.go
  pkg/blockchain/chain.go
  pkg/blockchain/genesis.go
  pkg/blockchain/peer.go
  pkg/blockchain/proof.go
  pkg/blockchain/repo.go
  pkg/blockchain/routes.go
  pkg/blockchain/transaction.go
  pkg/blockchain/tree.go
  pkg/database/database.go
  pkg/encryption/secp256k1/keypair.go
  pkg/encryption/secp256k1/privatekey.go
  pkg/encryption/secp256k1/publickey.go
  pkg/encryption/secp256k1/signature.go
  pkg/encryption/sha256.go
Labels: repo, blockchain, encryption

Use zero address for genesis block and txns
  pkg/blockchain/genesis.go
  pkg/blockchain/repo.go
  pkg/encryption/sha256.go
Labels: blockchain, encryption

Fix transaction insertion with correct insert code (oops)
  pkg/blockchain/repo.go
Labels: blockchain

Fix ordering of blocks in database request
  pkg/blockchain/chain.go
  pkg/blockchain/genesis.go
  pkg/blockchain/repo.go
Labels: blockchain

Implement suggestions by felix
  main.go
  pkg/blockchain/block.go
  pkg/blockchain/chain.go
  pkg/blockchain/peer.go
  pkg/blockchain/transaction.go
Labels: repo, blockchain

Remove alice and bob dummy keys, add key generation instructions and change key naming pattern
  .gitignore
  README.md
  alice.key
  bob.key
  genesis.key.json
Labels: repo

Replace genesis.key with genesis.key.json in genesis block creation
  pkg/blockchain/genesis.go
Labels: blockchain

Remove unneeded color printf function
  pkg/color/color.go
Labels: color

Remove unneeded time extension
  pkg/time/time.go
Labels: time

Rename postTransaction to createTransaction
  pkg/blockchain/routes.go
Labels: blockchain

Refactor lasagne methods
  pkg/blockchain/chain.go
  pkg/blockchain/tree.go
Labels: blockchain

Don't handle 202 accept as a HTTP error
  pkg/blockchain/chain.go
  pkg/blockchain/routes.go
  pkg/http/error.go
Labels: blockchain, http

Refactor signature generation and checking
  pkg/blockchain/block.go
  pkg/blockchain/chain.go
  pkg/blockchain/genesis.go
  pkg/blockchain/transaction.go
  pkg/encryption/secp256k1/signature.go
Labels: blockchain, encryption

Remove unnecessary rsa package and refactor error handling
  pkg/blockchain/chain.go
  pkg/blockchain/proof.go
  pkg/blockchain/tree.go
  pkg/encryption/rsa.go
  pkg/encryption/secp256k1/signature.go
  pkg/encryption/sha256.go
Labels: blockchain, encryption
